<script async>    
    if(localStorage.getItem('cart_item') == null)
    {
        var subtotal = 0
        var charge = 0
        var total = 0
        localStorage.setItem('cart_item', ' ')
        localStorage.setItem('view_cart', ' ')
        localStorage.setItem('cart_info', ' ')
        localStorage.setItem('checkout', ' ')
        localStorage.setItem('subtotal',subtotal)
        localStorage.setItem('charge',charge)
        localStorage.setItem('total',total)
                
    }
    // localStorage.clear()
    var buttonadd = document.getElementsByClassName("cart")
    for(var i=0;i<buttonadd.length;i++)
    {
        var button = buttonadd[i]
        button.addEventListener('click',function(event)
        {
            var buttonClicked = event.target
            var shopItem = buttonClicked.parentElement.parentElement.parentElement.parentElement.parentElement
            var image = shopItem.getElementsByClassName("picture")[0].src
            var item = shopItem.getElementsByClassName("item")[0].innerText
            var product_id = shopItem.getElementsByClassName("product_id")[0].innerText
            var qty = parseInt(shopItem.getElementsByClassName("qty_pro")[0].value)
            var size = shopItem.getElementsByClassName("size_pro")[0].value
            var price = shopItem.getElementsByClassName("price_new")[0].innerText
            var brand = shopItem.getElementsByClassName("brand_name")[0].innerText
            var item_info = ['name:'+item,'id:'+product_id,'Qty:'+qty,'Size:'+size,'Price: Rs.'+price]
            var a = localStorage.getItem('cart_info')
            var cart_info = '['+ item_info + ']' + ',' + a
            localStorage.setItem('cart_info',cart_info)
            addItemtocart(image,item,product_id,qty,price,size,brand)
        })

        function addItemtocart(image,item,product_id,qty,price,size,brand)
        {
            var cartRow = document.createElement('tr')
            var cartItems = document.getElementsByClassName('cart_drop')[0]
            var cartItemNames = document.getElementsByClassName('cartitemname')
            if (cartItems.rows.length>0)
            {
                for(var i=0;i<cartItems.rows.length;i++)
                {   
                    if(cartItemNames[i].innerText==item)
                    {
                        alert("Item already added");
                        return
                    }
                }
            }
            var cartRowcontent = 
                 `<tr>
                    <td class="text-center"><a href="product?p_id=${product_id}&brand=${brand}"><img class="img-thumbnail" style="width:50px; height:50px;" src="${image}"></a></td>
                    <td class="text-left"><a href="product?p_id=${product_id}&brand=${brand}" class="cartitemname">${item}</a></td>
                    <td class="text-right">x<span class="qty_drop">${qty}</td>
                    <td class="text-right">Rs.<span class="price_drop">${qty*price}</td>
                  </tr>`;
            var temp = localStorage.getItem('cart_item')
            var temp2 = cartRowcontent + temp
            localStorage.setItem('cart_item',temp2)
            cartItems.innerHTML = temp2
            updateCartTotal()
            
            var view_cart = 
            `<tr>
                <td class="text-center"><a href="href="product?p_id=${product_id}&brand=${brand}"> <img src="${image}" title="{{i.item}}" class="img-responsive" style="width:80px; height:80px;" /> </a>
                </td>
                <td class="text-left"><a href="href="product?p_id=${product_id}&brand=${brand}">${item}</a></td>
                <td class="text-left">${product_id}</td>
                <td class="text-right">${qty}</td>
                <td class="text-right">${price}</td>
                <td class="text-right">${price*qty}</td>
              </tr>`;
              var x = localStorage.getItem('view_cart')
              console.log(x)
              var new_view = view_cart + x
              localStorage.setItem('view_cart',new_view)  
            
            var checkout =
            `<tr>
                      <td class="text-left"><a href="href="product?p_id=${product_id}&brand=${brand}"><input type="text" value="${item}" readonly style="; cursor: default; text-align:right; border:none;"></a></td>
                      <td class="text-right"><input type="number" value="222" readonly style="; cursor: default; width:70px; text-align:right; border:none;"></td>
                      <td class="text-right"><input type="number" value="${qty}" readonly style="; cursor: default; width:70px; text-align:right; border:none;"></td>
                      <td class="text-right"><input type="number" value="${price}" readonly style="; cursor: default; width:125px; text-align:right; border:none;"></td>
                      <td class="text-right"><input type="number" value="${price*qty}" readonly style="; cursor: default; width:125px; text-align:right; border:none;"></td>
                    </tr>`;
            var y = localStorage.getItem('checkout')
            console.log(y)
            var new_checkout = checkout + y
            localStorage.setItem('checkout',new_checkout)  
            
        }
    }
    var removeCartItemButton = document.getElementsByClassName('btn-danger')
    for(var i=0;i<removeCartItemButton.length;i++)
    {
        var button = removeCartItemButton[i]
        button.addEventListener('click',removeCartItem)
    }
    
    function removeCartItem(event)
    {
        var buttonClicked = event.target
        buttonClicked.parentElement.parentElement.parentElement.parentElement.parentElement.remove()
        localStorage.removeItem('cart_item')
        localStorage.removeItem('subtotal')
        localStorage.removeItem('charge')
        localStorage.removeItem('total')
        localStorage.removeItem('view_cart')
        localStorage.removeItem('cart_info')
        location.reload()
    }

    function updateCartTotal()
    {   var subtotal =0
    
        var cartTable = document.getElementById('cart_table')
        if(cartTable == null)
        {
            subtotal = 0
            var charge = parseFloat(subtotal)*parseFloat(0.05)
            var total = parseFloat(subtotal)+parseFloat(charge)
            document.getElementById("item_no").innerText="0"
        }
        else
        {
            for(var i=0;i<cartTable.rows.length;i++)
            {
                var cartTablerows = cartTable.rows[i]
                var priceElement = cartTablerows.getElementsByClassName("price_drop")[0]
                var qtyElement = cartTablerows.getElementsByClassName("qty_drop")[0]
                var price = parseFloat(priceElement.innerText)
                console.log(price)
                var qty = parseInt(qtyElement.innerText)
                var each_t = parseFloat(price* qty)
                subtotal = parseFloat(subtotal + each_t)
                var charge = parseFloat(subtotal)*parseFloat(0.05)
                var total = parseFloat(subtotal)+parseInt(charge)
                localStorage.setItem('subtotal',subtotal)
                localStorage.setItem('charge',charge)
                localStorage.setItem('total',total)
                document.getElementById("item_no").innerText=cartTable.rows.length
            }
        }
            document.getElementById("sub_total").innerText=subtotal
            document.getElementById("charge").innerText=charge
            document.getElementById("total").innerText=total
            document.getElementById("total_drop").innerText=total 
    }            
    var previouslyadded = localStorage.getItem('cart_item')
    var p_add = document.getElementById('cart_table')
    p_add.innerHTML = previouslyadded
    updateCartTotal()           
    document.getElementById("sub_total").innerText=localStorage.getItem('subtotal')
    document.getElementById("charge").innerText=localStorage.getItem('charge')
    document.getElementById("total_drop").innerText=localStorage.getItem('total')
    document.getElementById("total").innerText=localStorage.getItem('total')
    document.getElementById('cart_table').innerHTML=localStorage.getItem('cart')
    document.getElementsByClassName('cart_drop')[0].innerHTML=localStorage.getItem('cart_item')
</script>