<!DOCTYPE html>
<html lang="en">
<head>
<title>Footmandu</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="e-commerce site well design with responsive view." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="static/css/stylesheet.css" rel="stylesheet">
<link href="static/css/responsive.css" rel="stylesheet">
<link href="static/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="static/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
<script src="static/javascript/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/javascript/jstree.min.js" type="text/javascript"></script>
<script src="static/javascript/template.js" type="text/javascript" ></script>
<script src="static/javascript/common.js" type="text/javascript"></script>
<script src="static/javascript/global.js" type="text/javascript"></script>
<script src="static/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
</head>
<body>
<div class="preloader loader" style="display: block; background:#f2f2f2;"> <img src="static/image/loader.gif"  alt="#"/></div>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-left pull-left">
          </div>
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">
              <ul class="list-inline">
                <li class="dropdown account"><a href="#" title="My Account" class="  dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>My Account</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">

                    {% if user.is_authenticated %}
                    <li><a href="myaccount">{{user.first_name}} {{user.last_name}}</a></li>
                    <li><a href='logout'>Logout</a></li>
                    {% else %}
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Login</a></li>
                    {% endif %}
                  </ul>
                </li>
              </ul>
              <div class="search-box">
                <form action="category" method="GET">
                  <input class="input-text" name="search" placeholder="Search By Products.." type="text">
                  <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="container">
    <div class="header-inner">
      <div class="col-sm-4 col-xs-6 header-left">
        <div class="shipping">
          <div class="shipping-img"></div>
          <div class="shipping-text">(+9771) 470000<br>
            <span class="shipping-detail">24/7 Online Support</span></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-middle">
        <div class="header-middle-top">
          <div id="logo"> <a href="../"><img src="static/image/logo.png" title="E-Commerce" alt="E-Commerce" class="img-responsive" /></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">
          <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button"> <span id="cart-total"><span class="cart-title">Shopping Cart</span><br>
          (<span id="item_no">0</span>) items Rs.<span id="total">0</span></span></button>
          <ul class="dropdown-menu pull-right cart-dropdown-menu">
            <li>
              <button class="btn-danger" title="Clear All" style="float:right; background-color: white; color:black" type="button"><i class="fa fa-times"></i></button>
            </li>
            <li>
              <table class="table table-striped cart_drop" id="cart_table">
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="text-right"><strong>Sub-Total</strong></td>
                      <td class="text-right">Rs. <span id="sub_total">0</span></td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Delivery Charge (5%)</strong></td>
                      <td class="text-right">Rs. <span id="charge">0</span></td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total</strong></td>
                      <td class="text-right">Rs. <span id="total_drop">0</span></td>
                    </tr>
                  </tbody>
                </table>
                <p class="text-right"> <span class="btn-viewcart"><a href="cart"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a></span> <span class="btn-checkout"><a href="checkout"><strong><i class="fa fa-share"></i> Checkout</strong></a></span> </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav id="menu" class="navbar">
      <div class="nav-inner">
        <div class="navbar-header"><span id="category" class="visible-xs">Categories</span>
          <button type="button" class="btn btn-navbar navbar-toggle" ><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse">
          <ul class="main-navigation">
            <li><a href="../"   class="parent"  >Home</a> </li>
            <li><a href="category"   class="parent"  >Collection</a> </li>
            <li><a href="category?gfor=Women"   class="parent"  >Women</a> </li>
            <li><a href="category?gfor=Men"   class="parent"  >Men</a> </li>
            <li><a href="category?gfor=Kid"   class="parent"  >Kid</a> </li>
            <li><a href="about-us" >About us</a></li>
            <li><a href="contact" >Contact Us</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

