{% include "header.html" %}
{% load static %}


<div class="container">
  <ul class="breadcrumb">
    <li><a href="../"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Account</a></li>
    <li><a href="login">Login</a></li>
  </ul>
  <div class="row">
    <div class="col-sm-3 hidden-xs column-left" id="column-left">
      <div class="column-block">
        <div class="columnblock-title">Account</div>
        <div class="account-block">
          <div class="list-group"> <a class="list-group-item" href="login">Login</a> <a class="list-group-item" href="register">Register</a><a href="affiliate" class="list-group-item">Affiliate Tracking</a>  <a class="list-group-item" href="forgetpassword">Forgotten Password</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-9" id="content">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>New Customer</h2>
            <p><strong>Register Account</strong></p>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a class="btn btn-primary" href="register">Continue</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h2>Returning Customer</h2>
            <p><strong>I am a returning customer</strong></p>
            <form enctype="multipart/form-data" method="post" action="login">
              {% csrf_token %}
              <div class="form-group">
                <label for="input-username" class="control-label">Username</label>
                <input type="text" class="form-control" id="input-username" placeholder="Username" name="username">
              </div>
              <div class="form-group">
                <label for="input-password" class="control-label">Password</label>
                <input type="password" class="form-control" id="input-password" placeholder="Password" name="password">
                <a href="forgetpassword">Forgotten Password</a></div>
              <input type="submit" class="btn btn-primary" value="Login">
            </form>
            <div>
                {% for m in messages %}
                <i style="color:red">* {{m}}</i>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer block Start  -->
{% include "footer.html" %}

</body>
</html>
{%block js%}

{% include "addtocart.html" %}
{% endblock %}